<a href="https://www.google.com">go to google</a> <br>
<img src="https://www.google.com/logos/doodles/2019/celebrating-the-jingle-dress-dance-6253753358352384.2-l.png" alt="" width="200x"> <br>
<a href="https://sierravista.iusd.org/">This is the link to my school</a> <br>
<img src="https://sierravista.iusd.org/sites/sierravista/files/sv-header2.png" alt="" width="200px"> <br>
<button>Click Me!</button>
<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>
<p>I am normal</p>
<p style="color:red;">I am red</p>
<p style="color:blue;">I am blue</p>
<p style="font-size:50px;">I am big</p>
  <h1>My name is Charline Chen</h1>
  <p>I will be attending Irvine High School.</p>
  <h1 style="font-family:verdana;">This is a heading</h1>
  <p style="font-size:160%">This is a paragraph</p>
  <h1 style="text-align:center;">Centered Heading</h1>
  <p style="text-align:center;">Centered paragraph</p>